.DS_Store
Thumbs.db
.idea/
.vscode/
*.log

/bliss_ecommerce/
/database/bliss_ecommerce_seed.sql

/public/uploads/profiles/*
!/public/uploads/profiles/.gitkeep

codex-cli-account-switcher/

# Core Configuration
app/core/Database.php

